In [2]:
import json
import pandas as pd

# Load training data
with open('train.json', 'r') as f:
    train_data = json.load(f)

# Load test data
with open('test.json', 'r') as f:
    test_data = json.load(f)

# Convert to pandas DataFrame for easier manipulation
train_df = pd.DataFrame(train_data)
test_df = pd.DataFrame(test_data)
print(train_df.head(10))

       ENTRYTYPE                                              title editor  \
0  inproceedings  Philippine Language Resources: Trends and Dire...   None
1  inproceedings  A System for Translating Locative Prepositions...   None
2  inproceedings  Introduction to the Shared Task on Comparing S...   None
3  inproceedings  Pynini: A Python library for weighted finite-s...   None
4  inproceedings  Improving Readability of Swedish Electronic He...   None
5  inproceedings  Political Advertising Dataset: the use case of...   None
6  inproceedings  What are the limitations on the flux of syntac...   None
7  inproceedings  AKTSKI at SemEval-2016 Task 5: Aspect Based Se...   None
8  inproceedings  Discourse-level argumentation in scientific ar...   None
9  inproceedings  Developing Morphological Analysers for South A...   None

   year                                       publisher  \
0  2009       Association for Computational Linguistics
1  1991       Association for Computational Linguistics
2  2008                            College Publications
3  2016       Association for Computational Linguistics
4  2014       Association for Computational Linguistics
5  2020       Association for Computational Linguistics
6  2017           Linköping University Electronic Press
7  2016       Association for Computational Linguistics
8  1999                                            None
9  2010  European Language Resources Association (ELRA)

                                              author  \
0  [Roxas, Rachel Edita, Cheng, Charibeth, Lim, N...
1            [Japkowicz, Nathalie, Wiebe, Janyce M.]
2                                       [Bos, Johan]
3                                     [Gorman, Kyle]
4  [Grigonyte, Gintarė, Kvist, Maria, Velupillai,...
5  [Augustyniak, Lukasz, Rajda, Krzysztof, Kajdan...
6  [Kahane, Sylvain, Yan, Chunxiao, Botalla, Mari...
7              [Pateria, Shubham, Choubey, Prafulla]
8                      [Teufel, Simone, Moens, Marc]
9                [Aswani, Niraj, Gaizauskas, Robert]

                                            abstract
0                                               None
1                                               None
2                                               None
3                                               None
4                                               None
5  Political campaigns are full of political ads ...
6                                               None
7                                               None
8                                               None
9  A considerable amount of work has been put int...

In [3]:
#fill change_names_numeric to with  
#adding a feature for editor 
train_df['editor_count'] = train_df['editor'].apply(lambda x: len(x) if x is not None else 0)
#print(train_df['editor_count'])

#adding a feature for author 
train_df['author_count'] = train_df['author'].apply(lambda x: len(x) if x is not None else 0)

#adding a feature for puplisher 
train_df['publisher_count'] = train_df['publisher'].apply(lambda x: x.count(",") + 1 if x is not None else 0)
#print(train_df['publisher_count'])


change_names_numeric = ["author_count", "editor_count", "publisher_count"]
train_df[change_names_numeric]

       author_count  editor_count  publisher_count
0                 3             0                1
1                 2             0                1
2                 1             0                1
3                 1             0                1
4                 4             0                1
...             ...           ...              ...
65909             1             0                1
65910             0             2                1
65911             2             0                1
65912             7             0                0
65913             2             0                1

[65914 rows x 3 columns]

In [16]:
import numpy as np
from fancyimpute import IterativeImputer

# Adding a feature for abstract length, giving nan to None
train_df['abstract_length'] = train_df['abstract'].apply(lambda x: len(str(x)) if x is not None else np.nan)

# Separate the columns to impute from the rest of the DataFrame
impute_abstract = train_df[["abstract_length"]]

# Define the imputer
imputer = IterativeImputer(max_iter=10, random_state=0)

# Fit and transform the data
imputed_data = imputer.fit_transform(impute_abstract)

# Update the original DataFrame with the imputed values
train_df["abstract_length"] = imputed_data

train_df["abstract_length"]

0        933.361579
1        933.361579
2        933.361579
3        933.361579
4        933.361579
            ...
65909    761.000000
65910    933.361579
65911    933.361579
65912    933.361579
65913    933.361579
Name: abstract_length, Length: 65914, dtype: float64

In [15]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65914 entries, 0 to 65913
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ENTRYTYPE        65914 non-null  object
 1   title            65914 non-null  object
 2   editor           1476 non-null   object
 3   year             65914 non-null  object
 4   publisher        57713 non-null  object
 5   author           63515 non-null  object
 6   abstract         32383 non-null  object
 7   editor_count     65914 non-null  int64
 8   author_count     65914 non-null  int64
 9   publisher_count  65914 non-null  int64
 10  abstract_length  65914 non-null  float64
dtypes: float64(1), int64(3), object(7)
memory usage: 5.5+ MB